*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}


body{
    background-color: #db4444e1;
    font-family: 'Poppins', sans-serif;
}


.main_body{
    margin: 40px;
    margin-left: 250px;
}

@media screen and (max-width:1300px) {
    .main_body{
        margin-left: 40px;
    }
     
 }



 .mystyle{
  margin-left: 0px;
 }














/* frist Section css styles */



.total_selas_wrapper{
    background-color: #FFFFFF;
    padding: 20px 20px;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0.2px  #70707048;
   
}

.total_seles{
    display: flex;
    justify-content: space-between;
  
}



.tatal_content_one p{
  font-size: 13px;
  font-weight: 400;
  color:#8898AA;
  font-family: 'Poppins', sans-serif;

 
}

.tatal_content_one h4{
    color: #4D4F5C;
    font-size: 20px;
    line-height: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}

.tatal_content_two i{
    background-color: #2DCE98;
    border-radius: 100%;
    padding: 18px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;

}


.tatal_content_three p{
    font-size: 14px;
    color: #4D4F5C;
    margin-top: 28px;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;

}










/* second Seciton */

.second_section{
    margin-top: 20px;
}




.second_sec_div{
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.336);
}


.second_sec_head{
    background-color: #2E4DD4;
    padding: 5px 0px;
    border-radius: 5px;
}

.second_sec_head h3{
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}


.second_sec_backimg{
    background-image: url('images/Image\ 46.png');
    height: 110px;
    width: 100%; 
    background-repeat: no-repeat;
    margin-top: -5px;
    background-size: cover;
}


.second_sec_backimg_two{
    background-image: url('images/Image\ 45.png');
    height: 110px;
    width: 100%; 
    background-repeat: no-repeat;
    margin-top: -5px;
    background-size: cover;
}
.second_sec_backimg_three{
    background-image: url('images/Image\ 47.png');
    height: 110px;
    width: 100%; 
    background-repeat: no-repeat;
    margin-top: -5px;
    background-size: cover;
}
.second_sec_backimg_four{
    background-image: url('images/PEOPLE.png');
    height: 110px;
    width: 100%;  
    background-repeat: no-repeat;
    margin-top: -5px;
    background-size: cover;
}



.telegram_img img{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;

    
}



/* third section */

.Third_section{
    margin-top: 50px;
}


.video video{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}




.liveEvent{

background-color: #2E4DD4;
display: flex;
margin-top: 10px;
width: 100%;
position: relative;
}


.man_image img{
  
    height: 430px;
}


.live_event_content{
    padding: 15px;

}

.live_event_content b{
    border: none;
    background-color: #C11717;
    color: #FFFFFF;
    position: absolute;
    right: 20px;
    font-weight:bold;
    padding: 3px 8px;
    border-radius: 50px;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    
}


.live_event_content h4{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;  
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;

}


.live_event_content h5{
    font-size: 16px;
    color: #1DC117;
    font-family: 'Poppins';
    margin-top: -10px;

}


.live_event_content p{
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 13px;
    padding-right: 60px;
}

.live_event_content h6{
    font-size: 14px;
    color: #000000;
    font-weight: 700;
}


.live_event_content button{
    background-color: #1DC117;
    color: #FFFFFF;
    padding: 5px 23px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}















/* for responsive */

@media screen and (min-width:1700px) {
      .main_body{
          margin: 0px;
          margin-left: 300px;
          margin-right: 350px;
      }
}

@media screen and (max-width:1130px) and (min-width:992px) {
    

   
    .man_image img {
        height: 524px;
        width: 267px;

    }


}

@media screen and (max-width:992px) {
        
.telegram_img img {
  
    width: 33%;
    
}
}


@media screen and (max-width:700px) {

    .man_image img{
        display: none;
    }
    

    .live_event_content {
        
        padding-bottom: 80px;
    }


    
}

